<!-- <h1>Capstone Savings Bank</h1>
 -->
	<p>Version 1.1.2</p>
	<p>A project by Barnabas Bulpett<br />
		Asheville-Buncombe Web Technologies System Project<br />
		WEB-289-D1</p>
	<h3 class="bulletin">Currently in Phase 4!</h2>
	<footer>
		<p><a href="https://github.com/bbulpett/capstone_project"> <em>Available on GitHub</em></a></p>
	</footer>
