<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		site_info.html.erb -->

<!-- Static page containing resources and links pertaining to the "Assets" requirement of project -->		

<h1>Site Information</h1>
<div id="panel">
	<div class="panel-body">
		<h4><a href="#">Directory Wireframe</a></h4> <!-- txt file ("tree") -->
		<h4><a href="#">Original, Unedited Artwork</a></h4> <!-- folder of image files -->
		<h4><a href="#">Entity-Relationship Diagram</a></h4> <!-- jpg image file -->
		<h4><a href="#">Final SQL Database</a></h4> <!-- SQL file -->
		<h4><a href="#">Style Guide</a></h4> <!-- pdf document -->
		<h4><a href="#">Media Sources</a></h4> <!-- word document -->
		<h4><a href="#">Code Documentation</a></h4> <!-- pdf with t.o.c. -->
	</div>
</div>