<h1>Editing customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<% if current_user.role = 'admin' %>
	<%= link_to 'Return to Dashboard', :back %>
<% else %>
	<%= link_to 'Back to Home Page', root_path %>
<% end %>
