/*
 *= require bootstrap.min
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$break-xs: 320px 
$break-s: 480px
$break-m: 640px
$break-l: 860px
$break-xl: 960px
$break-xxl: 1140px

@font-face
	font-family: 'Glyphicons Halflings'
	src: url('/assets/glyphicons-halflings-regular.eot')
	src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')

@font-face 
	font-family: 'Cinzel-Regular'
	src: font-url('Cinzel-Regular.ttf')

@font-face 
	font-family: 'Oxygen'
	src: font-url('Oxygen.otf')

html
	position: relative
	min-height: 100%
	text-shadow: 1px 1px 1px rgba(0,0,0,0.002)
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	-o-font-smoothing: antialiased
	font-smoothing: antialiased

body 
	background: #7E99D0 image-url("snowy_prairie_bg.jpg") no-repeat center top
	font: normal normal 12pt 'Oxygen', Verdana, sans-serif
	margin: 0 0 100px
	min-width: 320px

footer 
	position: absolute
	left: 0 
	bottom: 0
	background: rgba(25,25,25,0.8)
	color: #CCC
	width: 100%
	margin: 0
	font-size: 65%
	padding: 10px 15px 0px
	line-height: 1.55em
	height: 70px

footer a
	color: #F9F
	text-decoration: none

footer a:hover
	color: #F93
	text-decoration: none

footer a:active
	color: #F9F
	font-weight: bold
	text-decoration: none
	text-shadow: 1px 1px 0px #FAF

nav:not(.pagination)
	margin: 0
	padding: 15px 0

.navbar
	background: rgba(0,0,0,0.2)
	border: none

.navbar-header
	.navbar-brand
		font-family: 'Cinzel-Regular', serif
		font-weight: 500
		font-size: 34pt
		color: #FFF
		@media screen and (max-width: $break-xxl)
			font-size: 28pt
		@media screen and (max-width: $break-xl)
			font-size: 24pt
		@media screen and (max-width: $break-m)
			font-size: 20pt
			width: 120px
			line-spacing: 5px

.navbar-header
	.navbar-brand:visited
		color: #FFF

.navbar-header
	.navbar-brand:active
		color: #FFF
		text-shadow: 0px 0px 10px rgba(255,255,255,1)

.nav
	.btn
		margin-top: 4px
		font-weight: 600
		@media screen and (max-width: $break-xxl)
			font-size: 85%
			padding: 9px
			margin-top: 6px
		@media screen and (max-width: $break-xl)
			font-size: 75%
			padding: 7px
			margin-top: 7px

.topnav-button
	margin-right: 10px

	a
		background: rgba(255,255,255,0.75)
		color: #000
		font-weight: 600

#admin-nav
	background: rgba(15,15,15,1)
	color: #EEE

	li
		text-indent: none
		margin: 0 5px 0 0 
		
		a
			background: #AAA

		a:focus
			background: #FFF
			color: #000

.tab_link.active
	a
		color: #000
		background-color: #fff

.navbar-form
	margin: 5px 0 0 

.header-message
	color: #FFF
	font: italic 400 14pt 'Oxygen', Verdana, sans-serif
	padding: 0 20px

.alert
	margin: 0.26em 0 
	position: absolute
	width: 100%
	border-radius: none
	padding: 0 1em
	font-weight: 700
	-webkit-animation: alertFades 1s linear 1s 1 forwards
	-moz-animation: alertFades 1s linear 1s 1 forwards
	-o-animation: alertFades 1s linear 1s 1 forwards
	animation: alertFades 1s linear 1s 1 forwards

@-webkit-keyframes alertFades
	0%
		opacity: 1
	100%
		opacity: 0
		-webkit-transform: translate(0,-75px)

@-mos-keyframes alertFades
	0%
		opacity: 1
	100%
		opacity: 0
		-mos-transform: translate(0,-75px)

@-o-keyframes alertFades
	0%
		opacity: 1
	100%
		opacity: 0
		-o-transform: translate(0,-75px)
	
@keyframes alertFades
	0%
		opacity: 1
	100%
		opacity: 0
		transform: translate(0,-75px)

main 
	margin: 45px auto
	background: rgba(240,240,240,0.6)
	padding: 10px
	width: 95%
	border-radius: 3px

main>h1 
	font-size: 180%

#tip 
	background-color: #CCF
	margin: 10px
	padding: 10px 10px 3px
	font-size: 88%

.jumbotron
	width: 33%
	background: rgba(0,0,0,0)
	text-align: center

.formPanel
	width: 50%
	margin: 10px 20px
	padding: 0 25px

.formButton
	margin-top: 15px

table
	margin: 0 auto 30px
	background: #FFF

	caption
		background-color: #222
		color: #EEE
		text-indent: 10px

th 
	background: #555
	color: #FFF

td
	font-size: 10pt

.pagination
	display: inline-block
	margin: 0 auto
	background-color: #111
	width: 100%
	padding: 0 10px
	border-radius: 2px 2px 0 0
	word-spacing: 5px

	.page a, .next a, .last a, .prev a, .first a
		color: #BBB

	.page a:hover, .next a:hover, .last a:hover, .prev a:hover, .first a:hover
		color: #FFF
		text-decoration: none

	.current
		color: #FFF
		font-weight: 800
		text-shadow: 0 0 2px 2px #FFF

#panel
	width: 95%
	margin: 12px auto
	background: #FFF
	padding: 5px 10px 10px 10px
	border-radius: 2px

.table-heading
	display: inline

#search-form
	float: right
	margin-top: -5px
	margin-bottom: 10px

#formButtonGroup
	padding: 0
	list-style-type: none
	margin: 0 0 15px 0

	li
		display: inline
		margin-right: 10px

.actionPanel
	float: left
	margin: 50px 25px
	background: rgba(240,240,240,0.6)
	padding: 10px
	width: 280px
	border-radius: 2px
	height: 400px
	min-height: 1px
	text-align: center

	a
		width: 250px
		margin: 10px 0

#homeCarousel
	float: left
	background: transparent
	padding: 10px
	width: 67%
	border-radius: 2px
	height: 260px
	color: #FFF
	text-align: center
	margin: 50px 0 

	@media screen and (max-width: $break-xxl)
		width: 62%
	@media screen and (max-width: $break-xl)
		width: 57%
