/*
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
	font-family: 'Cinzel-Regular';
	src: url('Cinzel-Regular.ttf');
}

footer {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

nav {
	margin: 0;
	padding: 15px 0;
}

.navbar-brand {
	font-family: 'Cinzel-Regular', serif;
	font-weight: 500;
	font-size: 34pt;
}

#indexTable {
	width: 95%;
	margin: auto;
}

main {
	margin: 20px;
}

main>h1 {
	font-size: 180%;
}

.general-info-panel {
	position: absolute;
	bottom: 0;
	width: 300px;
	background-color: #BBB;
	border-color: #999;
	font-size: 80%;
	padding: 0;
}
