/*
 *= require bootstrap.min
 */

@import "bootstrap-sprockets"
@import "bootstrap"

@font-face 
	font-family: 'Cinzel-Regular'
	src: font-url('Cinzel-Regular.ttf')

@font-face 
	font-family: 'Oxygen'
	src: font-url('Oxygen.otf')

html
	position: relative
	min-height: 100%

body 
	background-image: image-url("snowy_prairie_bg.jpg")
	background-repeat: no-repeat
	background-position: center top
	font: normal normal 12pt 'Oxygen', Verdana, sans-serif
	margin: 0 0 95px

footer 
	position: absolute
	left: 0 
	bottom: 0
	background: rgba(25,25,25,0.8)
	color: #CCC
	width: 100%
	margin: 0
	font-size: 55%
	padding: 10px 15px 0px
	line-height: 1.55em
	height: 65px

footer a
	color: #F9F
	text-decoration: none

footer a:hover
	color: #F93
	text-decoration: none

footer a:active
	color: #F9F
	font-weight: bold
	text-decoration: none
	text-shadow: 1px 1px 0px #FAF

nav 
	margin: 0
	padding: 15px 0

.navbar
	background: rgba(0,0,0,0.2)
	border: none

.navbar a, .navbar-header a
	color: #FFF

.navbar a:visited
	color: #FFF

.navbar a:active
	color: #FFF

.navbar-header
	.navbar-brand
		font-family: 'Cinzel-Regular', serif
		font-weight: 500
		font-size: 34pt
		color: #FFF

.navbar-header
	.navbar-brand:visited
		color: #FFF

.navbar-header
	.navbar-brand:active
		color: #FFF
		text-shadow: 0px 0px 10px rgba(255,255,255,1)

.header-message
	color: #FFF
	font: italic 400 14pt 'Oxygen', Verdana, sans-serif
	padding: 0 20px

.alert 
	border-radius: none
	padding: 0.4em 1em
	-webkit-animation: alertFades 0.5s linear 1.5s 1 forwards
	-moz-animation: alertFades 0.5s linear 1.5s 1 forwards
	-o-animation: alertFades 0.5s linear 1.5s 1 forwards
	animation: alertFades 0.5s linear 1.5s 1 forwards

@-webkit-keyframes alertFades
	0%
		opacity: 1
		margin-bottom: 30px
	100%
		opacity: 0
		margin-bottom: -75px

@-webkit-keyframes alertFades
	0%
		opacity: 1
		margin-bottom: 30px
	100%
		opacity: 0
		margin-bottom: -75px

@-webkit-keyframes alertFades
	0%
		opacity: 1
		margin-bottom: 30px
	100%
		opacity: 0
		margin-bottom: -75px
	
@keyframes alertFades
	0%
		opacity: 1
		margin-bottom: 30px
	100%
		opacity: 0
		margin-bottom: -75px

#indexTable 
	width: 95%
	margin: auto

main 
	margin: 30px auto
	background: rgba(240,240,240,0.5)
	padding: 20px
	width: 95%
	border-radius: 3px

main>h1 
	font-size: 180%

#tip 
	background-color: #CCF
	margin: 10px
	padding: 10px 10px 3px
	font-size: 88%

.jumbotron
	background: rgba(0,0,0,0)
	text-align: center

.formPanel
	width: 95%
	margin: 10px auto
	padding: 0 25px

.formButton
	margin-top: 15px

table
	margin: 0 auto 30px
	background: #FFF

th 
	background: #555
	color: #FFF

table
	caption
		background-color: #222
		color: #EEE
		text-indent: 10px