
<footer>
  <p><strong>Version 1.5.3</strong> | A project by Barnabas Bulpett | Asheville-Buncombe Web Technologies System Project<br />WEB-289-D1 | Currently in Phase 5
  <br /><a href="https://github.com/bbulpett/capstone_project"> <em>Available on GitHub</em></a></p>
</footer>