<!-- 	Barnabas Bulpett, Web Technologies System Project WEB-289-D1, Spring 2015 -->
<!-- 	Partial view for page footer, rendered by layout files -->
<footer>
  <p><strong>Version 1.5.8</strong> | A project by Barnabas Bulpett | Asheville-Buncombe Web Technologies System Project<br />WEB-289-YD1 | Final Phase
  <br /><a href="https://github.com/bbulpett/capstone_project" target="_blank"> <em>Available on GitHub</em></a></p>

  <ul>
  	<!-- Secondary links -->
  	<li><%= link_to "Credits", home_credits_path %></li>
  	<li><%= link_to "Site Information", home_site_info_path %></li>
  	<li><%= link_to "Legal", home_legal_path %></li>
  </ul>
</footer>