<!-- Partial view for page footer, rendered by layout files -->
<footer>
  <p><strong>Version 1.5.8</strong> | A project by Barnabas Bulpett | Asheville-Buncombe Web Technologies System Project<br />WEB-289-YD1 | Final Phase
  <br /><a href="https://github.com/bbulpett/capstone_project"> <em>Available on GitHub</em></a></p>

  <ul>
  	<li><a href="#">Credits</a></li>
  	<li><a href="#">Site Information</a></li>
  	<li><a href="#">Legal</a></li>
  </ul>
</footer>