<h2>New Account Transaction for Account No. <%= params[:account_id] %></h2>
<%= render 'form' %>

<div id="links-block">
<%= link_to 'Back', accounts_path(current_user), :class => 'btn btn-primary' %>
</div>