<h1>Editing account</h1>

<%= render 'form' %>
<div id="links-block">
<%= link_to 'Show', @account, :class => "btn btn-default formButton"  %> 
<%= link_to 'Back', accounts_path, :class => "btn btn-default formButton"  %>
</div>